.single-product article {

	> :where(.related, .up-sells) {
		margin-top: 50px;

		.ct-module-title {
			margin-bottom: 30px;	
		}
	}


	// slider type
	:where(.related, .up-sells) {

		.flexy-items {
			--flexy-items-gap: var(--grid-columns-gap, 30px);
			--flexy-item-width: var(--grid-columns-width);

			.product {
				height: 100%;
			}
		}
	}
}